#blogs-container{
 
    width: 70%;
    
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border-bottom: 1px solid gray;
    border-right: none ;
    border-left: none ;
    border-top: none ;
} 

#image{
    display: flex;
    width: 300px !important;
    height: 300px !important;

}
.post-image{
    width: 300px;

}

